@import 'mix';
@media screen and (max-width: 490px) {
    .header-nav {

        width: 100%;
        justify-content: center;
        align-items: center;
       

        .icons-nav {
            display: none;

            .icons-font {
                display: none;
            }
        }

        .logo {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 10px;

            justify-content: space-evenly;
            margin-top: 1rem;
            font-family: "Allerta Stencil", sans-serif;

            .icon-ship {
                display: flex;
                width: 288.28px;
                align-items: center;
                justify-content: end;
                font-size: 18px;
                gap: 1rem;

            }

            a {
                text-decoration: none;
                font-size: 40px;
                color: #000;

                b {
                    color: #A18A68;
                }
            }
            #nav-icon1 {
                width: 35px;
                height: 30px;
                position: relative;
                cursor: pointer;
                display: inline-block;
                z-index: 10;
                 display: flex;
                  align-items: center;
                  justify-content: center;
                
                span {
                  background-color: #555; // cor mais refinada
                  position: absolute;
                  height: 2px; // linha mais fina
                  width: 20px;
                  border-radius: 2px;
                  transition: all 0.4s ease-in-out;
                 
              
                  &:nth-child(1) {
                    top: 0;
                  }
                  
                  &:nth-child(2) {
                    top: 10px;
                  }
                  
                  &:nth-child(3) {
                    top: 20px;
                  }
                }
              
                &.open span {
                  &:nth-child(1) {
                    transform: rotate(45deg);
                    top: 13px;
                  }
              
                  &:nth-child(2) {
                    opacity: 0;
                  }
              
                  &:nth-child(3) {
                    transform: rotate(-45deg);
                    top: 13px;
                  }
                }
              }
              
              .nav-bar {
                display: none;
                z-index: 2;
                background-color: #fff; // fundo elegante, cor neutra
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); // sombra suave
                position: absolute;
                top: 40px;
                right: 0;
                width: 80%;
                text-align: center;
                border-radius: 8px;
                transition: all 0.5s ease-in-out;
                
                ul {
                  list-style-type: none;
                  padding: 10px 0;
                  margin: 0;
                  a{
                    font-size: 30px;
                    text-decoration: none;
                    list-style: none;
                    &:hover {
                        color: #c19a6b; // cor dourada para hover
                      }
                }
              
                  li {
                    
                    
                    padding: 12px 0;
                    font-size: 16px;
                    color: #555;
                    font-weight: 600;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    cursor: pointer;
                    transition: color 0.3s ease-in-out;
                    
                    &:hover {
                      color: #c19a6b; // cor dourada para hover
                    }
                    
                  }
                }
              
                &.active {
                  display: block;
                }
              }
              
        }

        .nav-bar {
            display: none;
            list-style: none;
        }
        

    }
}

.search-container {

    .search-container1 {
        display: flex;
        justify-content: center;


        .search-input-container {
            position: relative;


            i {
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
                color: #888; // Cor da lupa
                font-size: 14px; // Tamanho da lupa
            }

            // Input de pesquisa
            .search-input {
                width: 300px;
                padding: 10px 10px 10px 30px; // Espaço para o ícone
                border: 2px solid #ccc;

                outline: none;
                font-size: 16px;
                background-color: transparent; // Fundo transparente
                color: #333; // Cor do texto

                &::placeholder {
                    color: #888;
                }

                &:focus {
                    border-color: #007bff; // Cor da borda ao focar
                }
            }
        }
    }
}



.scroll-section {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}


.scroll-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth; // Para uma rolagem suave
    scrollbar-width: none; // Remove barra de rolagem visível no Firefox

    &::-webkit-scrollbar {
        display: none; // Remove barra de rolagem visível no Chrome, Safari, etc.
    }

    .scroll-item {
        min-width: 150px;
        margin: 10px;
        padding: 20px;
        background-color: transparent;
        color: #000000;
        text-align: center;
        font-family: "Allerta Stencil", sans-serif;
        border: 1px solid #ccc;
        border-radius: 5px;
        white-space: nowrap;
    }
}

.logo-img {

    width: 100%;
    height: 299px;
    display: flex;
    align-items: center;
    padding: 5px;
    position: relative;
    .pp{
        position: absolute;
        width: 95%;
        height: 100%;
        object-fit: contain;
        
         left: 5px;  
         .cards_img{
            width: 100%;
            height: 100%;
       
         }
     
    }
    
    .img {
        width: 95%;
        position: relative;
        height: 299px;
        border-radius: 12px;
        object-fit: cover;
        padding: 2px;
        
        

        .names-rost {
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: end;

            gap: 1rem;
            margin-left: 5px;
            margin-left: 1px;
            .gold {

                width: 210px;
                height: 79px;



                p {
                    color: #fff;
                    font-family: 'Inter';
                    font-size: 30px;
                    font-weight: 400;
                }

                .valor {
                    width: 100px;
                    margin-top: 1rem;


                    span {
                        color: #fff;
                        font-family: 'Inter';

                        font-weight: 400;
                    }
                }
            }
        }
    }

    .view-prodyct {
        display: flex;
        width: 100%;

        .view {
            width: 150px;
            height: 32px;
            border: 1px solid #fbfdff;
            border-radius: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1rem;

            a {

                font-family: 'Inter';
                text-decoration: none;
                color: #fff;
            }
        }
    }
}
.tittle-brincos{
    width: 100%;
    margin-top: 1.7rem;
    display: flex;
    
   
    .tittle1{
        width: 95%;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
       
        p{
            color: #000;
            font-family: "Inter";
        }
        .view-all{
            display: flex;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                display: flex;
                justify-content: center;
                text-decoration: none;
                width: 70px;
                
                color: #A18A68;
            }

        }
    }
}
.cads-brincos{
    display: flex;
    width: 95%;
    height: 188px;
    margin-top: 2rem;
    margin-left: 10px;
    margin-bottom: 1rem;
    justify-content: space-between;
    

    .main-card{
        display: flex;
        width: 140px;
        height: 100%;
        background-image: url(../src/img/cad1.png);
        background-repeat: no-repeat;
        
        border: 12px;
        
        align-items: end;
        .card{
            display: flex;
            flex-direction: column;
            gap: 7px;
            
        }
        p{
            display: flex;
            flex-direction: column;
            font-size: 14px;
            font-family: 'Inter';
        }
        span{
            color: #A18A68;
            font-size: 15px;

        }
    }
    .main-card1{
        display: flex;
        width: 140px;
        height: 100%;
        background-image: url(../src/img/cad2.png);
        background-repeat: no-repeat;
        
        border: 12px;
        align-items: end;
        .card{
            display: flex;
            flex-direction: column;
            gap: 7px;
            
            
        }
        p{
            display: flex;
            flex-direction: column;
            font-size: 14px;
            font-family: 'Inter';
        }
        span{
            color: #A18A68;
            font-size: 15px;
        }
    }
    
}
.card-contest{
    display: flex;
    width: 100%;
    
    height: 136px;
    position: relative;
    justify-content: center;
    .img-cards{
        width: 95%;
        display: flex;
        
        
        background-image: url(../src/img/cardlist.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        
       
    }
    .card_list{
        width: 95%;
        
        height: 20px;
        display: flex;
        z-index: 1;
        position: absolute;
        margin: 2px;
        justify-content: start;
        
        
        a{  
            display: flex;
            justify-content: center;
            
            border-radius: 3px;
            width: 70px;
            text-decoration: none;
            color: #fff;
            background-color: #A18A68;
        }
    }
   .card_list1{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: end;
    gap: 10px;
    a{
      text-decoration: none;
      color: #000;
      font-size: 17px;
       
      
    }
    span{
        color: #A18A68;
      }
   } 

}
